@using MVC_APTA_CMS_DEMO.Controllers
@using MVC_APTA_CMS_DEMO.Models
@model IEnumerable<MVC_APTA_CMS_DEMO.Models.teams_paper>

@{
    Layout = null;
}


@{Html.RenderAction("adminNav", "Home");}
<div class="well well-lg">
    <h3> Attendee Team request handle </h3>
    </div>
    <table class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DelegatesID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrganizationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaperName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaperLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaperInbrief)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaperDomains)
            </th>


            <th></th>
            <td></td>
            <td></td>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DelegatesID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrganizationType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaperName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaperLink)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaperInbrief)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaperDomains)
                </td>


                <td>
                    <input type="radio" name="action" value="Approve" />Approve
                </td>
                <td>
                    <input type="radio" name="action" value="Reject" />Reject
                </td>
                <td>
                    <button type="button" class="btn-info">Save</button>

                </td>
            </tr>
        }

    </table>
