@model IEnumerable<MVC_APTA_CMS_DEMO.Models.apta_admin>

@{
    Layout = null;
}
@{Html.RenderAction("testNav","Home");}

<table class="table table-striped">



    <tr>
        <
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>


    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>


        </tr>
    }

</table>
<p>
    <a href="@Url.Action("Create","TeamsPaper")" class="btn btn-default btn-lg btn-block" role="button">Sign up for upcoming events </a>

</p>