@model MVC_APTA_CMS_DEMO.Models.member

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create1</title>
</head>
<body>


    @{Html.RenderAction("testNav", "Home");}
    <div class="well well-lg">
        <legend>Add members to your team </legend>
    </div>



    @using (Html.BeginForm("Create", "Attendee", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)


        <table class="table table-dark">
            <div class="form-group">
                <tr>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.DelegatesID)
                        </div>
                    </td>
                    <td>
                        <div class="form-group">



                            @Html.DropDownListFor(model => model.DelegatesID, new SelectList(Model.TeamCollection, "DelegatesID", "TeamName"), "Select")

                        </div>
                    </td>
                </tr>








                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.FirstName)
                        </div>

                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.FirstName)
                            @Html.ValidationMessageFor(model => model.FirstName)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.LastName)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.LastName)
                            @Html.ValidationMessageFor(model => model.LastName)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.Phone)
                        </div>
                    </td>

                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Phone)
                            @Html.ValidationMessageFor(model => model.Phone)
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.Email)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Email)
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Country)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Country)
                            @Html.ValidationMessageFor(model => model.Country)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Address)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Address)
                            @Html.ValidationMessageFor(model => model.Address)
                        </div>
                    </td>
                </tr>

                </div>


        </table>

        <p>
<button type="submit" value="Create" class="btn btn-primary btn-lg btn-block"> Add   </button>
        </p>
            <p>
                <a href="@Url.Action("wait","Home")" class="btn btn-default btn-lg btn-block" role="button"> Finish Adding members  </a>

            </p>
            <p>
                <a href="@Url.Action("Index","Home")" class="btn btn-default btn-lg btn-block" role="button"> Home  </a>

            </p>
            
       

    }

    
</body>
</html>




