@model IEnumerable<MVC_APTA_CMS_DEMO.Models.member>

@{
    Layout = null;
}

@if (ViewBag.Email != null)
{
Html.RenderAction("orgtNav", "Home");
    
}
else
{
    Html.RenderAction("testNav", "Home");

}
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AttendeeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DelegatesID)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AttendeeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DelegatesID)
            </td>
            <td>
              
                @Html.ActionLink("Details", "Details", new {/* id=item.PrimaryKey */}) 
              
            </td>
        </tr>
    }

</table>

