@model MVC_APTA_CMS_DEMO.Models.conference_event

@{
    Layout = null;
}
@{Html.RenderAction("adminNav", "Home");}
<div class="well well-lg">
    <legend>Edit Conference </legend>
</div>
    
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <table class="table table-dark">
        <div class="form-group">



        <tr>
        <td>
    
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        

        <td>
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </td>
        </tr>

        <tr>
        <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.StartDate)
        </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.EditorFor(model => model.StartDate)
                @Html.ValidationMessageFor(model => model.StartDate)
            </div>
                </td>
            </tr>

            <tr>
                <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.EndDate)
        </div>
        </td>
        <td>
            
        <div class="editor-field">
            @Html.EditorFor(model => model.EndDate)
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>

            </td>
        </tr>
        <tr>
            <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.Chairman)
        </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.EditorFor(model => model.Chairman)
                @Html.ValidationMessageFor(model => model.Chairman)
            </div>
            </td>
        </tr>
        <tr>
            <td> 
        <div class="editor-label">
            @Html.LabelFor(model => model.Locations)
        </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.EditorFor(model => model.Locations)
                @Html.ValidationMessageFor(model => model.Locations)
            </div>
            </td>
        </tr>
        <tr>
            <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.short_description)
        </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.EditorFor(model => model.short_description)
                @Html.ValidationMessageFor(model => model.short_description)
            </div>
            </td>
        </tr>
        <tr>
            <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.last_reg_date)
        </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.EditorFor(model => model.last_reg_date)
                @Html.ValidationMessageFor(model => model.last_reg_date)
            </div>
            </td>
        </tr>
       

        </div>


        </table>

        <p>
        <button type="submit" value="Save" class="btn btn-primary btn-lg btn-block"> Update Conference  </button>
       
    </p>
        
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

