@model MVC_APTA_CMS_DEMO.Models.organizer


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <style>
        .fieldset { 
            display: block;
            margin-left: 2px;
            margin-right: 2px;
            padding-top: 0.35em;
            padding-bottom: 0.625em;
            padding-left: 0.75em;
            padding-right: 0.75em;
            border: 2px groove (internal value);
        }
    </style>
    <meta name="viewport" content="width=device-width"/>
    <title>Create</title>
</head>
<body>
@{Html.RenderAction("testNav", "Home");}
<div class="well well-lg">
    <legend>Organizer Registration Request for a conference </legend>
</div>

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm("AddorEdit", "Organizer", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

   
    <table class="table table-dark">
        <div class="form-group">
            <tr>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(model => model.conferenceId)
                    </div>
                </td>
                <td>
                    <div class="form-group">



                        @Html.DropDownListFor(model => model.conferenceId, new SelectList(Model.ConferenceCollection, "conferenceId", "Name"), "Select")

                    </div>
                </td>
            </tr>
        </div>
        <tr>
            <td>
                <div class="form-group">
                    @Html.LabelFor(model => model.Name)
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </td>
        </tr>
        <tr><td>
                <div class="form-group">
                    @Html.LabelFor(model => model.Location)
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Location)
                    @Html.ValidationMessageFor(model => model.Location)
                </div>
            </td>
        </tr>
        <tr>
            <td>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email)
                </div>
            </td>
            <td>

                <div class="editor-field">
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </td>
        </tr>
        <tr>
            <td>

                <div class="form-group">
                    @Html.LabelFor(model => model.Website)
                </div>
            </td>
            <td>

                <div class="editor-field">
                    @Html.EditorFor(model => model.Website)
                    @Html.ValidationMessageFor(model => model.Website)
                </div>
            </td>
        </tr>
        <tr>
            <td>

                <div class="form-group">
                    @Html.LabelFor(model => model.Phone)
                </div>
            </td>

            <td>

                <div class="editor-field">
                    @Html.EditorFor(model => model.Phone)
                    @Html.ValidationMessageFor(model => model.Phone)
                </div>
            </td>

        </tr>

        <tr>

            <td>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description)
                </div>
            </td>
            <td>

                <div class="editor-field">
                    @Html.EditorFor(model => model.Description)
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
            </td>

        </tr>
        <tr>
            <td>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password)
                </div>
            </td>
            <td>

                <div class="editor-field">
                    @Html.PasswordFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </div>

            </td>


        </tr>
        <tr>
            <td>

                <div class="form-group">
                    <label for="date">@Html.LabelFor(model => model.reg_date) </label>
                </div>
            </td>
            <td>
                <div class="col-md-10">
                    <input type="date" class="form-control" @Html.TextBoxFor(model => model.reg_date)
                           @Html.ValidationMessageFor(model => model.reg_date)
                </div>
            </td>
        </tr>
        

    </table>
    <p>
        <button type="submit" value="Create" class="btn btn-primary btn-lg btn-block">Send Request"  </button>
    </p>
    

}


</body>
</html>
